body {
    background-color: rgb(156, 153, 153);
    /*
    background-image: url(img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: left bottom;
    */
    color: black;
    text-indent: 15px;
}

#caja {
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(108, 93, 192);
    color: white;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: line-through;
}

h2 {
    color: red;
    background-color: white;
    border: 5px solid red;
    padding: 10px;
}

p {
    font-size: 25px;
}